 body{
 	background-image: url('');
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	font-family: 'Roboto Mono', monospace;
 	color: black;
 }

.navbar{
	margin: 50px 0;
	p{
		font-size: 50px;
		text-align: left;
	}
}

.projects{
	margin-bottom: 30px;
}