 body{
 	background-image: url('https://images.pexels.com/photos/2527560/pexels-photo-2527560.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
 	background-size: cover;
 	background-repeat: no-repeat;
 	font-family: 'Roboto Mono', monospace;
 	color: #339CFF;
 }

.navbar{
	margin: 50px 0;
	p{
		font-size: 50px;
		text-align: left;
	}
}

.projects{
	margin-bottom: 30px;
}